<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/style.css') }}">
    <link rel="stylesheet" href = "{{ url_for('static', filename = 'css/loading.css') }}">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://releases.transloadit.com/uppy/v3.17.0/uppy.min.css" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/react/15.4.2/react-dom.js'></script>
    <title>DAL</title>
</head>
<body>
    

    <div class="menu-area">

    <div id="homework" class="select-menu">
        <div class="select-btn">
            <span id='hw'class="sBtn-text">Select Homework</span>
            <i class="bx bx-chevron-down"></i>
        </div>

        <ul class="options" id="homeworkOptions">

        </ul>
    </div>

    <div id="type" class="select-menu">
        <div class="select-btn">
            <span class="sBtn-text">作業</span>
            <i class="bx bx-chevron-down"></i>
        </div>

        <ul class="options">
            <li class="option">
                
                <span class="option-text">作業</span>
            </li>
            <li class="option">
                
                <span class="option-text">挑戰</span>
            </li>
        </ul>
    </div>

    <div class="post-btn">開始比對</div>
    

    <div id="drag-drop-area"></div>
</div>
    <img class="back-ground" src="{{ url_for('static', filename='img/bg.png') }}" >
    <div id="modal-container"></div>
    <a class="logout" href="{{ url_for('logout') }}" class="btn btn-danger">登出</a>
    <script src = "{{ url_for('static', filename = 'js/script.js') }}"></script>
    <script type="module" src = "{{ url_for('static', filename = 'js/uppy.js') }}"></script>
    <script src = "{{ url_for('static', filename = 'js/loading.js') }}"></script>



</body>
</html>