<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>DAL</title>
  {{ dropzone.load_css() }}
  {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;') }}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <style>
    #alert-box {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #f44336;
      color: white;
      text-align: center;
      z-index: 1000;
      display: none;
    }
  </style>
</head>
<body>
  <div id="alert-box">請選擇檔案</div>
  <div style="color:blue;text-align:center;border: 4px solid #0087F7">  
    請上傳老師以及學生的檔案 
  </div>
  {{ dropzone.create(action='upload') }}
  <form action="javascript:submitForm()">
      <input type="submit" value="Submit" />
  </form>
      
  {{ dropzone.load_js() }}
  {{ dropzone.config() }}

  <script>
    function submitForm() {
      $.ajax({
        url: "/exec",
        type: "GET",
        success: function(response) {
          var report_filename = response.report_filename;
          window.location.href = `/static/result/${report_filename}/test_report.html`;
        },
        error: function(response) {
          window.alert('請至少上傳一個檔案')
        }
      });
    }
    </script>
    
</body>
</html>
